
.news_carousel-indicators [data-bs-target]
{
    background-color: #d9d9d9;
    /* color: rgb(34, 34, 34); */
}
.carousel-indicators .active {
    background-color: var(--main-color);
}
.news_img
{
    transition: all 0.3s ease;
}
.news_img:hover 
{
    transform: translateY(-2px);
    box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.25);
}
.news_item-heading
{
    margin-top: 25px !important;
    font-size: 18px;
    line-height: 1.44444;
    font-weight: 600;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.news_item-heading:hover
{
    color: var(--main-color);
}
.news_date
{
    font-style: italic;
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    transition: color 0.3s ease;
}
.news_date:hover
{
    color: #222;
}
.news_creator
{
    font-style: italic;
    text-decoration: none;
    margin-left: 15px;
    color: #888;
    font-size: 14px;
}
.news_item-desc
{
    margin-top: 20px;
    font-size: 13px;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* @media only screen and (min-width:785px) and (max-width:1217px) */


/* media query */
@media only screen and (min-width:767px) and (max-width:990px)
{

}